<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>de.robert.paperless-upload</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ .chezmoi.homeDir }}/.local/bin/paperless-upload.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>{{ .chezmoi.homeDir }}/Documents/Paperless-ngx/inbox</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
</dict>
</plist>
