[defaults]
inventory = inventory/hosts.yml
playbook_dir = plays
roles_path = roles
retry_files_enabled = False
gathering = explicit
interpreter_python = auto_silent
display_skipped_hosts = False
nocows = 1
stdout_callback = default
result_format = yaml

[diff]
always = True
